<a href="https://colab.research.google.com/github/shrav-jally/ML_lab_sem5/blob/main/sem5_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tinyurl.com/ML-2025-26

'''
numpy
pandas
scikitlearn
matplotlib
tensorflow
keras
'''

In [ ]:
'''
creating dataframe
inserting, deleting, modifying data
basic and advanced dataframe ops (head, tail, shape, info, describe, groupby, join, merge, missing data handling)
missing data handling - dropping, filling, indentifying missing values (isnull(), notnull())
working with categorical data (data that can only take a limited number of values) - converting to categorical data, one-hot encoding, label encoding
data visualization with pandas - line, bar, scatter, histograms
advaced-data analysis techniques - pandas, time series analysis, statistical modelling, machine learning
performance optimisation - vectorised operations, data types, indexing, avoid unnecessary copies
'''

In [ ]:
#working with dataframes

df = pd.read_csv('your_dataset.csv') #csv (comma separated vectors)
print(df.head())
print(df.describe()) #summary of statistics
print(df.info())
df.sample() #gives random 5 rows of dataframe
df.columns
df[['Age', 'BMI']].head() #selecting multiple columns (passing array of feature names)
df[0:4] #0 to 4 rows of dataset (or you can use iloc(), loc() functions)
df.rename(columns={"Age":"age"}).head() #object.method.method - pattern is called "chain of function calls"

#handling missing values
print(df.isnull().sum())  #check for missing values
df_cleaned=df.dropna()  #drop rows with missing values and place it in new variable
df_filled=df.fillna(df.mean())
#drop() parameters - labels (list of columns to drop), axis (default=0, 0=rows, 1=columns), columns, level (if there are multiple rows in dataframe), inplace (if false return copy, otherwise do op in place and return none)

df.fillna(df.mean(), inplace=True)
print(df.duplicated().sum()) #identifies duplicate values
df_no_duplicates = df.drop_duplicates()
df["column1"]=df["column1"].astype(float)

#encode categorical variables
df_encode = pd.get_dummies(df, columns=[car_brand]) #to convert categorical data from car_brand to numerical data
#dummy value is assigned to label name
#this just means that the numbers the brand name is converted to it not interperted as 1 is greater than 0, but it tells the algorithm that both 1 and 0 are placveholders for categorical data

In [ ]:
#Scikit_learn (estimator api) - pip install scikitlearn
#uci ml repository - all types of machine learning datasets available
#it provides various tools for - classification, regression, clustering, dimensionality reduction, feature selection
#sklearn is used to build ml models, for data reading and manipulation and summarizing use pandas, numpy etc.

import sklearn
from sklearn import datasets
iris = datasets.load_iris()
print(iris.data.shape)

(150, 4)

In [ ]:
from re import X
from inspect import isroutine
'''
components of sklearn:

supervised learning algorithms: SVM, DT
cross validation: to check accuracy of supervised models on unseen data using sklearn
unsupervised learning algorithms: clustering, factor analysis, principal component analysis to undupervised neural networks
various datasets: IRIS
feature extraction: sklearn for extracting images and text features
model selection: comparing, validating parameters and models
'''

#most common steps involved in machine learning

# Import necessary libraries
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Load dataset
iris = datasets.load_iris()
X = iris.data
y = iris.target

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Create and train the model
clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)

# Make predictions
y_pred = clf.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy * 100:.2f}%')

Accuracy: 100.00%

In [ ]:
'''
1. **Series vs 1-D array, List, Dictionary:**
   - **Series:** A 1-D labeled array in pandas with index labels for each element.
   - **1-D Array:** Homogeneous, no labels (NumPy array).
   - **List:** A Python built-in collection, ordered, but no indexing.
   - **Dictionary:** Key-value pair mapping, unordered, no numerical operations like Series.

2. **DataFrame vs 2-D array:**
   - **DataFrame:** 2-D labeled table with heterogeneous data types (columns can have different types).
   - **2-D Array:** Homogeneous (same data type), no labels, and lacks advanced functionality like a DataFrame.

3. **DataFrames and Series:**
   - A **DataFrame** is a collection of **Series** (each column in a DataFrame is a Series).

4. **Size of (i) Series, (ii) DataFrame:**
   - **Series Size:** Number of elements (length of the Series).
   - **DataFrame Size:** Total elements (rows Ã— columns).
'''


# 5. Create the following Series and do the specified operations:

# a) EngAlph with 26 alphabet elements and default indices
import pandas as pd
import string

EngAlph = pd.Series(list(string.ascii_uppercase))
print(EngAlph)

# b) Vowels with specific index labels and all values set to zero
Vowels = pd.Series([0]*5, index=['a', 'e', 'i', 'o', 'u'])
print(Vowels.empty)  # Check if it is empty

# c) Friends from a dictionary
Friends = pd.Series({'John': 1, 'Alice': 2, 'Bob': 3, 'Charlie': 4, 'David': 5})
print(Friends)

# d) MTseries as an empty series
MTseries = pd.Series()
print(MTseries.empty)  # Check if it is empty

# e) MonthDays from a numpy array
import numpy as np
MonthDays = pd.Series(np.array([31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]), index=np.arange(1, 13))
print(MonthDays)

# 6. Using the Series created in Question 5:

# a) Set all values of Vowels to 10
Vowels[:] = 10
print(Vowels)

# b) Divide all values of Vowels by 2
Vowels /= 2
print(Vowels)

# c) Create another series Vowels1
Vowels1 = pd.Series([2, 5, 6, 3, 8], index=['a', 'e', 'i', 'o', 'u'])
print(Vowels1)

# d) Add Vowels and Vowels1 and assign to Vowels3
Vowels3 = Vowels + Vowels1
print(Vowels3)

# e) Subtract, multiply, and divide Vowels by Vowels1
Vowels_sub = Vowels - Vowels1
Vowels_mul = Vowels * Vowels1
Vowels_div = Vowels / Vowels1
print(Vowels_sub, Vowels_mul, Vowels_div)

# f) Alter labels of Vowels1
Vowels1.index = ['A', 'E', 'I', 'O', 'U']
print(Vowels1)

# 7. Using the Series created in Question 5:

# a) Find dimensions, size, and values
print(EngAlph.shape, Vowels.size, Friends.values)

# b) Rename MTseries as SeriesEmpty
SeriesEmpty = MTseries
print(SeriesEmpty)

# c) Name the index of MonthDays and Friends
MonthDays.index.name = 'monthno'
Friends.index.name = 'Fname'

# d) Display the 3rd and 2nd value of Friends
print(Friends.iloc[2], Friends.iloc[1])

# e) Display alphabets 'e' to 'p' from EngAlph
print(EngAlph['E':'P'])

# f) Display the first 10 values of EngAlph
print(EngAlph.head(10))

# g) Display the last 10 values of EngAlph
print(EngAlph.tail(10))

# h) Display MTseries
print(MTseries)

# 8. Using the Series created in Question 5:

# a) Display months 3 through 7 from MonthDays
print(MonthDays[3:8])

# b) Display MonthDays in reverse order
print(MonthDays[::-1])

# 9. Create the following DataFrame Sales:
Sales = pd.DataFrame({
    '2014': [100.5, 150.8, 200.9, 30000, 40000],
    '2015': [12000, 18000, 22000, 30000, 45000],
    '2016': [20000, 50000, 70000, 100000, 125000],
    '2017': [50000, 60000, 70000, 80000, 90000]
}, index=['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'])
print(Sales)

# 10. Use the DataFrame Sales to do the following:

# a) Display row labels
print(Sales.index)

# b) Display column labels
print(Sales.columns)

# c) Display data types of each column
print(Sales.dtypes)

# d) Display dimensions, shape, size, and values
print(Sales.shape, Sales.size, Sales.values)

# e) Display the last two rows
print(Sales.tail(2))

# f) Display the first two columns
print(Sales.iloc[:, :2])

# g) Create Sales2 DataFrame from dictionary
Sales2 = pd.DataFrame({
    '2018': [160000, 110000, 500000, 340000, 900000]
}, index=['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'])
print(Sales2)

# h) Check if Sales2 is empty
print(Sales2.empty)

# 11. Use the DataFrame Sales to do the following:

# a) Append Sales2 to Sales
Sales = Sales.append(Sales2)
print(Sales)

# b) Transpose the Sales DataFrame
Sales = Sales.T
print(Sales)

# c) Display sales by all salespersons in 2017
print(Sales['2017'])

# d) Display sales by Madhu and Ankit in 2017 and 2018
print(Sales.loc[['Madhu', 'Ankit'], ['2017', '2018']])

# e) Display Shruti's sales in 2016
print(Sales.loc['Shruti', '2016'])

# f) Add data for Sumeet
Sales.loc['Sumeet'] = [196.2, 37800, 52000, 78438, 38852]
print(Sales)

# g) Delete 2014 data from Sales
Sales.drop('2014', axis=1, inplace=True)
print(Sales)

# h) Delete data for Kinshuk
Sales.drop('Kinshuk', axis=0, inplace=True)
print(Sales)

# i) Change salesperson names
Sales.rename(index={'Ankit': 'Vivaan', 'Madhu': 'Shailesh'}, inplace=True)
print(Sales)

# j) Update sales made by Shailesh in 2018
Sales.loc['Shailesh', '2018'] = 100000
print(Sales)

# k) Write Sales DataFrame to a CSV file
Sales.to_csv('SalesFigures.csv', header=False, index=False)

# l) Read the CSV file and update row/column labels
SalesRetrieved = pd.read_csv('SalesFigures.csv', header=None)
SalesRetrieved.columns = Sales.columns
SalesRetrieved.index = Sales.index
print(SalesRetrieved)

In [ ]:
# 1. Install pymysql
# pip install pymysql

# 2. Pivot vs Pivot_table
# pivot():
# Used for reshaping data where you specify the index, columns, and values.
# It requires unique index/column combinations. If there are duplicates, it throws an error.

# pivot_table():
# Similar to pivot(), but it can handle duplicate entries. It allows you to specify an aggregation function (e.g., sum, mean) to aggregate data when duplicates exist.
# Syntax: pivot_table(index=..., columns=..., values=..., aggfunc='sum')

# 3. SQLAlchemy
# SQLAlchemy is a Python library that provides an Object Relational Mapping (ORM) interface for interacting with databases.

# 4. Sort DataFrame by multiple columns
import pandas as pd
df = pd.DataFrame({'col1': [1, 2, 3], 'col2': [3, 2, 1]})
df.sort_values(by=['col1', 'col2'], ascending=[True, False])

# 5. Handling missing values
df.fillna(value=0)  # Fill with 0
df.dropna()         # Drop rows with missing values

# 6. Median, Standard Deviation, and Variance
import numpy as np
data = [1, 2, 3, 4, 5]
median = np.median(data)
std_dev = np.std(data)
variance = np.var(data)

# 7. Mode
mode_value = df['column'].mode()

# 8. Data Aggregation
# Example of aggregation using groupby
df.groupby('column_name').agg({'other_column': 'mean'})

# 9. GROUP BY in SQL
# Example using pandas
df.groupby('column_name').agg({'other_column': 'mean'})

# 10. Read data from MySQL to DataFrame
import pymysql
conn = pymysql.connect(host='localhost', user='username', password='password', database='database_name')
df = pd.read_sql('SELECT * FROM table_name', conn)
conn.close()

# 11. Reshaping data example
reshaped_df = pd.melt(df, id_vars=['id'], value_vars=['col1', 'col2'])

# 12. Estimation
# Helps make informed decisions, calculate confidence intervals, and understand reliability.

# 13. Product Table operations
import pandas as pd
# a) Create DataFrame
data = {
    'Item': ['TV', 'TV', 'TV', 'AC'],
    'Company': ['LG', 'VIDEOCON', 'LG', 'SONY'],
    'Rupees': [12000, 10000, 15000, 14000],
    'USD': [700, 650, 800, 750]
}
df = pd.DataFrame(data)
print(df)

# b) Add new rows
new_data = pd.DataFrame({
    'Item': ['AC', 'TV'],
    'Company': ['SAMSUNG', 'SAMSUNG'],
    'Rupees': [16000, 12000],
    'USD': [850, 700]
})
df = df.append(new_data, ignore_index=True)
print(df)

# c) Max price of LG TV
max_price_LG = df[(df['Item'] == 'TV') & (df['Company'] == 'LG')]['Rupees'].max()
print(max_price_LG)

# d) Sum of all products
total_sum = df['Rupees'].sum()
print(total_sum)

# e) Median USD of Sony products
median_usd_sony = df[df['Company'] == 'SONY']['USD'].median()
print(median_usd_sony)

# f) Sort data by Rupees
df_sorted = df.sort_values(by='Rupees')
print(df_sorted)

# g) Transfer DataFrame to MySQL
conn = pymysql.connect(host='localhost', user='username', password='password', database='database_name')
df.to_sql('product_table', conn, if_exists='replace', index=False)
conn.close()

# 14. Student dataset operations
# a) Create DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob', 'Charlie'],
    'Degree': ['BCA', 'MBA', 'BCA', 'MBA'],
    'Marks': [76, 89, 45, 88]
}
df = pd.DataFrame(data)

# b) Degree and max marks in each stream
df.groupby('Degree')['Marks'].max()

# c) Fill NaN with 76
df.fillna(76, inplace=True)

# d) Set index to Name
df.set_index('Name', inplace=True)

# e) Name and degree-wise average marks of each student
df.groupby(['Degree']).agg({'Marks': 'mean'})

# f) Count number of students in MBA
mba_count = df[df['Degree'] == 'MBA'].shape[0]
print(mba_count)

# g) Mode of marks in BCA
bca_mode = df[df['Degree'] == 'BCA']['Marks'].mode()
print(bca_mode)

# UCI Dataset (auto-mpg) operations
# 1) Load the dataset
autodf = pd.read_csv('auto-mpg.data', delim_whitespace=True, header=None)

# 2) Describe the DataFrame
print(autodf.describe())

# 3) Display first 10 rows
print(autodf.head(10))

# 4) Handle missing values
autodf.fillna(method='ffill', inplace=True)
autodf.dropna(inplace=True)

# 5) Car with max mileage
max_mileage_car = autodf.loc[autodf[0].idxmax()]
print(max_mileage_car)

# 6) Average displacement based on cylinders
avg_displacement = autodf.groupby(1)[3].mean()
print(avg_displacement)

# 7) Average number of cylinders
avg_cylinders = autodf[1].mean()
print(avg_cylinders)